<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Avatar</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/images/chibi.jpg"></ion-img>
      </ion-avatar>
      <ion-menu-button menu="primerMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-chip color="danger" *ngFor="let i of Array(8)">
    <ion-avatar>
      <ion-img src="/assets/images/chibi.jpg"></ion-img>
    </ion-avatar>
    <ion-label>Chibi</ion-label>
  </ion-chip>

  <ion-list>

    <ion-list-header>
      <h2>Avatar</h2>
    </ion-list-header>

    <ion-item *ngFor="let i of [1,1,1,1]">
      <ion-avatar slot="start">
        <ion-img src="/assets/images/chibi.jpg"></ion-img>
      </ion-avatar>
      <ion-label>Chibi start</ion-label>
    </ion-item>

    <ion-item *ngFor="let i of [1,1,1,1]">
      <ion-avatar slot="end">
        <ion-img src="/assets/images/chibi.jpg"></ion-img>
      </ion-avatar>
      <ion-label>Chibi end</ion-label>
    </ion-item>

    <ion-list-header>
      <h2>Thumbnails</h2>
    </ion-list-header>

    <ion-item *ngFor="let i of [1,1,1,1]">
      <ion-thumbnail slot="start">
        <ion-img src="/assets/images/chibi.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label>Thumbnail</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
