<app-header titulo="Fab"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item
      *ngFor="let n of Array(100);let i = index">
      Item {{ i + 1 }}
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="Add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="primary">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="youtube">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start">
      <ion-fab-button color="dark">
        <ion-icon name="logo-github"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="youtube" href="http://www.google.com" target="_blank">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">
      Este es el footer
    </ion-title>
  </ion-toolbar>
</ion-footer>
