.ion-avatar{
  padding: 2px;
  border: solid 2px var(--ion-color-primary);
}

swiper-container{
  padding-top: 10px;
  padding-bottom: 10px;
}

ion-avatar{
  margin-left: auto;
  margin-right: auto;
}
