<app-header titulo="Cards"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Consequatur, eius et facilis laborum nemo neque officia
      porro quas quia? Dolore facere labore magni, maxime
      necessitatibus quos repellendus veniam. Nam, nobis!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="danger">
      <ion-icon name="pin" slot="start" color="light"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Ab ad amet consequatur debitis distinctio dolores error fuga
      harum ipsa iste iusto laborum maxime nostrum provident
      quisquam, tenetur vel velit voluptatum?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="tertiary">
      <ion-title>Título</ion-title>
    </ion-card-header>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Aliquam aliquid at dolores doloribus esse, est inventore
      nesciunt nobis obcaecati odit omnis quidem quod reiciendis
      rem rerum saepe sint soluta ullam.
    </ion-card-content>
  </ion-card>
</ion-content>
